In [3]:
even_odd= lambda x :" even " if x % 2 ==0 else "odd"

In [6]:
print(even_odd(12))
print(even_odd(7))

 even
odd

In [7]:
lower = 1
upper = 50
print("prime number between ", lower , upper)
for num in range(lower, upper + 1):
    if num > 1:
        for i in range(2 , num):
            if (num % i)==0:
                break
        else:
            print(num)

prime number between  1 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [9]:
b=int(input("Enter the number (b):"))
h=int(input("Enter the number (h): "))
area_of_trangle=0.5*b*h
print(f"area of trangle is : {area_of_trangle}")

Enter the number (b): 21
Enter the number (h):  14

area of trangle is : 147.0

In [14]:
import random
for i in range (1,50):
    num=random.randint(1,50)
    if num % 2 ==0:
        print(f"The {num} is even")
    else:
        print(f"The {num} is odd")

The 44 is even
The 20 is even
The 26 is even
The 47 is odd
The 11 is odd
The 25 is odd
The 39 is odd
The 50 is even
The 38 is even
The 9 is odd
The 50 is even
The 28 is even
The 27 is odd
The 50 is even
The 27 is odd
The 16 is even
The 20 is even
The 27 is odd
The 20 is even
The 43 is odd
The 39 is odd
The 25 is odd
The 18 is even
The 34 is even
The 17 is odd
The 14 is even
The 5 is odd
The 32 is even
The 14 is even
The 23 is odd
The 45 is odd
The 48 is even
The 35 is odd
The 43 is odd
The 38 is even
The 26 is even
The 50 is even
The 47 is odd
The 35 is odd
The 38 is even
The 24 is even
The 44 is even
The 8 is even
The 8 is even
The 24 is even
The 21 is odd
The 41 is odd
The 8 is even
The 15 is odd

In [15]:
import calendar
year =int(input("Enter your year :"))
month=int(input("Enter your month :"))
cal = calendar.month(year,month)
print(cal)

Enter your year : 2007
Enter your month : 6

     June 2007
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30

In [17]:
a = "Hay how are you Dipak"
if a in a:
    a=a.replace("a","@")
else:
    print("not in list")
a

'H@y how @re you Dip@k'

In [22]:
a=int(input("Enter the num (A):"))
b=int(input("Enter the num (B):"))
c=int(input("Enter the num (C):"))
d=int(input("Enter the num (D):"))
e=int(input("Enter the num (E):"))
avg=round(a+b+c+d+e)/5
print(f"The avg of {a},{b},{c},{d} and {e} is : {avg}")

Enter the num (A): 22
Enter the num (B): 66
Enter the num (C): 75
Enter the num (D): 84
Enter the num (E): 9

The avg of 22,66,75,84 and 9 is : 51.2

In [24]:
a=int(input("enter the  number (a): "))
b=int(input("enter the number (b) : "))

a , b = b ,a

print("after swaipping")
print("a=", a)
print("b=", b)

enter the  number (a):  22
enter the number (b) :  86

after swaipping
a= 86
b= 22

In [25]:
for i in range(11):
    print(f"8*{i}={8*i}")

8*0=0
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80