In [8]:
names=['Ramesh','Shuresh','Mahesh']
age= [ 20,22,24]
for i in range(len(names)):
    print(names[i],age[i])
print(f" the {names[i]} age is : {age[i]}")

Ramesh 20
Shuresh 22
Mahesh 24
 the Mahesh age is : 24

In [3]:
l= ['hyderabad','mumbai','chennai','odisa']
age= [20,40,32,43]
for i in range(len(l)):
    print(l[i],age[i])
print(f"The {l[i]} age is : {age[i]}")

hyderabad 20
mumbai 40
chennai 32
odisa 43
The odisa age is : 43

**zip**

In [8]:
names=['Ramesh','Shuresh','Mahesh']
a= [ 20,22,24]
# these two lists are together 
# Ramesh islated with 20
# we can combined both in the form zip

In [9]:
for i,j in zip(names,a):
    print(i,j)

Ramesh 20
Shuresh 22
Mahesh 24

In [12]:
names=['Dipak','Kishor','Pradip','Ravi']
a= [22,21,20,30]

In [13]:
for i,s in zip (names,a):
    print(i,s)

Dipak 22
Kishor 21
Pradip 20
Ravi 30

In [12]:
for i,j in zip(names,a):
    print(i)

Ramesh
Shuresh
Mahesh

**pair concept**

- dictionary is concept related pair the item

- it is represent with curly braces:{}

- two times : key and value

- dictionary is called as {key:value} pair

In [13]:
dict(zip(names,age))

{'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}

In [14]:
d={'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}
d

{'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}

In [15]:
# In above keys are : 'Ramesh','Shuresh','Mahesh'
# value are : 20,22,24

**intialization**

In [18]:
d={20:'Ramesh', 22:'Shuresh',24: 'Mahesh'}
d

{20: 'Ramesh', 22: 'Shuresh', 24: 'Mahesh'}

In [4]:
d={'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}
d2={20:'Ramesh', 22:'Shuresh',24: 'Mahesh'}
d3={'20':'Ramesh', '22':'Shuresh','24': 'Mahesh'}
d4={20:20,22:20 ,24:24}
d5={'ramesh': 20 , 'ramesh':24}  # letest value are ...
d7={'ramesh': 20 , 'suresh':24}

In [5]:
d1={'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}
len(d1)

3

In [6]:
sorted(d1)

['Mahesh', 'Ramesh', 'Shuresh']

In [7]:
list(reversed(d1))

['Mahesh', 'Shuresh', 'Ramesh']

In [8]:
d2={20:'Ramesh', 22:'Shuresh',24: 'Mahesh'}

In [9]:
min(d2)

20

In [10]:
max(d2)

24

In [11]:
sum(d2)

66

In [12]:
sorted(d2)

[20, 22, 24]

In [13]:
list(reversed(d2))

[24, 22, 20]

**keys are importenr**

In [14]:
a= {
    "dipak",44
}

In [1]:
a={
    [1,2,3,4,5]:"dipak"
}

TypeError: unhashable type: 'list'

In [2]:
a={
    "dipak":[1,2,3,4,]
}

In [3]:
a={
    ("dipak",55)
}

In [4]:
d={'Ramesh':20 , 'Ramesh':22}

In [5]:
d

{'Ramesh': 22}

In [6]:
d7={'ramesh': 20 , 'suresh':24}

In [7]:
d7

{'ramesh': 20, 'suresh': 24}

In [ ]:
{<list>:<value>} # fail mutable
{<tuple>:<value>} # work immutable
{}

**concatnation**

In [9]:
d1={'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}
d2={20:'Ramesh', 22:'Shuresh',24: 'Mahesh'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
d1={'Ramesh': 20, 'Shuresh': 22, 'Mahesh': 24}

In [62]:
a={
    "dipak":55,
    "rahul":44,
    "kishor":33
}

In [63]:
"dipak" in a

True

In [64]:
for i in a:
    print(i)

dipak
rahul
kishor

In [65]:
for i in a:
    print(i,a[i])

dipak 55
rahul 44
kishor 33

In [66]:
a=['dipak']

In [71]:
d1={'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}
d1['Ramesh']
d1['Suresh']
d1['Mahesh']

24

**Empty dictionary**

In [72]:
s=' '
s=s='a'
s

'a'

In [74]:
l=[]
l.append(30)
l

[30]

In [76]:
d={}
d['Ramesh']=20
d['Suresh']=22
d

{'Ramesh': 20, 'Suresh': 22}

In [82]:
name={'Ramesh','Suresh', 'Mahesh'}
age=[20,22,24]
d={}
for i,j in zip(name,age):
    d[i]=j

d

{'Suresh': 20, 'Ramesh': 22, 'Mahesh': 24}

In [83]:
d1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [85]:
names=[]
age=[]
for key in d1:
    names.append(key)
    age.append(d1[key])

name

{'Mahesh', 'Ramesh', 'Suresh'}

**mutable-immutable**

- we need to change the value of a specific key then it is consider as mutable

In [16]:
{"Ramesh":20 ,"Ramesh":22}

{'Ramesh': 22}

In [17]:
d={}
d['Ramesh']=25
d

{'Ramesh': 25}

In [18]:
d['Ramesh']=30
d

{'Ramesh': 30}

In [19]:
d1={'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}
d1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [20]:
d1['Mahesh']=34
d1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 34}

In [25]:
d1[0:2]

KeyError: slice(0, 2, None)

**slice is not possible becuase in Dictionry only-value concept**

In [29]:
dict1={'fruites': 'apple'}
dict1['fruites']

'apple'

In [36]:
dict1={'fruites': ['apple','cherry']}
# key: fruites value : [apple]
dict1['fruites'][1]

'cherry'

In [42]:
dict1={'fruites': ['apple','cherry','banana'],
       'cost': [20,5,2]}

# which is the lower cost that item should come 
# step-1: extract cost list 
# step-2: apply min (list) 2
# step-3: extract the index using list.index(min): id=2
# step-4: extract the fruite list 
# step-5: apply that id 


l=dict1['cost']
MIN=min(l)
ID= l.index(MIN)
dict1['fruites'][ID]

'banana'

In [9]:
dict2={'fruite': ['apple','banana','mango','licchi','cherry'],
       
       'cost': [50,30,55,70,60]} # user can change it anytime 


l=dict2['cost']
MAX=max(l)
ID= l.index(MAX)
dict2['fruite'][ID]

'licchi'

In [16]:
dict3={'fruite': ['apple','banana','mango','licchi','cherry'],
       'cost': [50,30,55,70,60]}


l=dict3['cost']
MAX=max(l)
ID= l.index(MAX)
dict3['fruite'][ID]

'licchi'

In [20]:
dict2={'fruites': [{'item':['apple','cherry','banana','cherry']}]}
dict2['fruites'][0]['item'][3]

'cherry'

In [53]:
dict1={'fruites': [{'item':['apple','cherry']}]}
dict1['fruites'][0]['item'][1]

'cherry'

In [7]:
d={'fruites':{'items':'aplle'}}
d['fruites']['items']

'aplle'

In [2]:
d={'Fruites':[{'items':[{'orange':
                         [{'Nagpur':
                           [{'MH':
                             [{'king':
                               [{'shivaji':
                                 [{'son':
                                   [{'shambaji':
                                     [{'chava':'viky'}]}]}
                                 ]}]}]}]}
                         ]}
                       ]}
             ]}
d['Fruites'][0]['items'][0]['orange'][0]['Nagpur'][0]['MH'][0]['king'][0]['shivaji'][0]['son'][0]['shambaji'][0]['chava']

'viky'

In [68]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']