In [3]:
def additional():
    """
    additional program
    """
num1=eval(input("enter the num 1"))
num2=eval(input("enter the num2"))
add=num1+num2
print(f"print the addition of {num1} and {num2} is:{add}")

enter the num 1 50
enter the num2 40

print the addition of 50 and 40 is:90

In [1]:
def substraction():
    """
    substraction program
    """
num1=eval(input("enter the num 1"))
num2=eval(input("enter the num2"))
add=num1-num2
print(f"print the substract of {num1} and {num2} is:{add}")

enter the num 1 50
enter the num2 40

print the substract of 50 and 40 is:10

In [2]:
def division():
    """
    division program
    """
num1=eval(input("enter the num 1"))
num2=eval(input("enter the num2"))
div=num1-num2
print(f"print the division of {num1} and {num2} is:{div}")

enter the num 1 50
enter the num2 5

print the division of 50 and 5 is:45

In [1]:
def multiplication():
     """
    multiplication program
    """
   
num1=eval(input("enter the number1"))
num2=eval(input("enter the number2"))
mul=num1*num2
print(f"the multiplication of {num1} and {num2} is: {mul}")

enter the number1 33
enter the number2 2

the multiplication of 33 and 2 is: 66

In [2]:
def addition():
    """addition program
    """
num1=44
num2=40
add=num1+num2
print(f" The addition of {num1} and {num2} is : {add}")

 The addition of 44 and 40 is : 84

**function with arguments**

- in addition function how many variable are three : three num1 , num2 , add 

- how many input variable : two num1 , num2 

- how many output variable : one add 

 **do not touch output variable**

In [29]:
def addition5(num1,num2):
    addition=num1+num2
    print(f"print the addition {num1} and {num2} is : {addition}")

addition5(122,23)

print the addition 122 and 23 is : 145

In [ ]:
addition1(100,200)
num1: 100
num2:200
the addition of 100 and 200 is : 300

In [2]:
def addition2(num1,num2):
    addition=num1+num2
    print(f"print the addition {num1} and {num2} is : {addition}")

addition2(10,12)

print the addition 10 and 12 is : 22

In [8]:
def multiplication(num1,num2):
    multiplicatio=num1*num2
    print (f" the multiplication of {num1} and {num2} : {multiplicatio}")

multiplication(44,22)

 the multiplication of 44 and 22 : 968

In [9]:
def adition():
    """
    additional program
    """
    num1=eval(input("enter the num1"))
    num2=eval(input("enter the num2"))
    add=num1+num2
    print(f"the add of {num1} and {num2} is: {add}")

In [10]:
adition()

enter the num1 60
enter the num2 90

the add of 60 and 90 is: 150

In [1]:
def multiplication():
    """
    multiplication
    """
    num=eval(input("enter the number1"))
    num=eval(input("enter the number2"))
    mul=num1*num2
    print(f"the {num1} and {num2} ")

**function with default argument**

- some times we will fix the argument value 

- if we dont give it will consider the fixed value 

- if we give value , it take the value only

In [7]:
def addition(n1,n2,n3):
    print('num1:',n1)
    print('num2:',n2)
    print('num3:',n3)
    add=n1+n2+n3
    print(f'the addition of {n1},{n2} and {n3} is : {add}')

In [ ]:
def avarage():
a=eval(input('enter the a:'))
b=eval(input('enter the b:'))
c=eval(input('enter the c:'))
avarage=round((a+b+c)/3)
print(f'the avarage of {a},{b} and {c} is : {avarage}')


def avarage(a=10):  # a argument given 
b=eval(input('enter the b:'))
c=eval(input('enter the c:'))
avarage=round((a+b+c)/3)
print(f'the avarage of {a},{b} and {c} is : {avarage}')



def avarage(a,b= 20): # a , b argument given 
c=eval(input('enter the c:'))
avarage=round((a+b+c)/3)
print(f'the avarage of {a},{b} and {c} is : {avarage}')



def avarage(a,b=20,c=30): # a,b,c arguments are given 
avarage=round((a+b+c)/3)
print(f'the avarage of {a},{b} and {c} is : {avarage}')

In [10]:
def avarage(a,b=20,c=30): 
    avarage=round((a+b+c)/3)
    print(f'the avarage of {a},{b} and {c} is : {avarage}')

In [13]:
avarage(10)

the avarage of 10,20 and 30 is : 20

In [5]:
def avarage(a,b= 20): # a , b argument given 
    c=eval(input('enter the c:'))
    avarage=round((a+b+c)/3)
    print(f'the avarage of {a},{b} and {c} is : {avarage}')

avarage(30)

enter the c: 10

the avarage of 30,20 and 10 is : 20

In [ ]:
complex()
complex(3,2)
complex(real=3,imag=2)
complex(3,imag=2)
complex(real=3,2)

In [8]:
complex()

0j

In [1]:
complex()

0j

In [2]:
complex(4,77)

(4+77j)

In [4]:
complex(3,1)

(3+1j)

In [9]:
complex(3,7)

(3+7j)

In [3]:
complex(3,4)

(3+4j)

In [2]:
complex(real=4)

(4+0j)

In [11]:
complex(4,imag=5)

(4+5j)

In [12]:
complex(real=5,imag=2)

(5+2j)

In [15]:
def greet(name,/,age):
    print(f'hello {name} and my age is: {age}')

In [18]:
greet("dipak",22)

hello dipak and my age is: 22

In [19]:
def greet(city,/,age):
    print(f" i am at {city} and my age is : {age}")

In [7]:
def greet(village, / ,age):
    print(f" I am from {village} and my age is: {22}")

In [8]:
greet("matori", 22)

 I am from matori and my age is: 22

In [20]:
greet("hyderabad",22)

 i am at hyderabad and my age is : 22

In [5]:
greet('python',20)

hello python and my age is: 20

In [6]:
greet(name='python',22)

SyntaxError: positional argument follows keyword argument (2525742901.py, line 1)

In [7]:
greet(name ='python',age = 22)

TypeError: greet() got some positional-only arguments passed as keyword arguments: 'name'

In [9]:
greet('python',age=22)

hello python and my age is: 22

- before slash and after slash

- before: postional arguments

- do not provaied variable name 

- after : key word arguments

- we can provaied the variable name 

- we no need to provied argument name

In [12]:
def greet3(name,*,age):
    print(f"hello {name} and my age is: {age}")

In [38]:
greet3('python',age=20)    # true

hello python and my age is: 20

In [39]:
greet3(name='python',age=20)    # True

hello python and my age is: 20

In [17]:
greet3(name='dipak',21)  # first positional argument 
                                                      } # importent points
                         # second keyword argument

SyntaxError: positional argument follows keyword argument (2845694801.py, line 1)

In [36]:
greet3('python',20)      # woring

TypeError: greet3() takes 1 positional argument but 2 were given

**concept-3  localvariable and globle variable** 

- the variable use outside the functiona is called as **global variable**

- the variable use inside the functiona is called as **local variable**

- global variable dose not have any restriction, it can go anywhere in the entire code

- local variable can not use outside the function

In [27]:
def ADD():
    a=100
    b=200
    c=300
    addition=a+b+c
    print(f"the addition of {a} {b} and {c} is:{addition}")
ADD()
# a=global b=local c=local add=local

the addition of 100 200 and 300 is:600

In [10]:
def bill(n):
    bill=n
    print(bill)
bill(200)

200

In [3]:
a=1000                                 # global variable (संपूर्ण प्रोग्राममध्ये उपलब्ध)
def ADD1():
    global addition,b                         # global म्हणून 'addition' आणि 'b' जाहीर केलं  
    b=200                                     # आता 'b' global बनेल
    c=300                                     # 'c' हा local variable आहे (फक्त function मध्येच वापरता येतो)
    addition=a+b+c                            # global 'a' + global 'b' + local 'c
    print(f"the addition of {a} {b} and {c} is:{addition}")

ADD1()

the addition of 1000 200 and 300 is:1500

In [5]:
print(addition)

1500

In [19]:
a=1000
def ADD1():
    global addition,b
    a=300
    b=200
    c=300
    addition=a+b+c
    print(f"the addition of {a} {b} and {c} is:{addition}")

ADD1()

the addition of 300 200 and 300 is:800

- values  a= 1000

- define the function  look inside the bracket  a=1000

- call the function look inside the brackets    a= 1000

- run the function look inside the brackets   a= 1000

In [12]:
# case-1

def ADD():
    a=1000
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
ADD()

 the addition of 1000 200 and 300 is: 1500

In [22]:
# case-2
a=1000
def ADD2():
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
ADD2()

 the addition of 1000 200 and 300 is: 1500

In [16]:
# case-3
a=1000
def ADD3():
    a=1500
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
ADD3()
# function always gives local variable first 
# then global variable

 the addition of 1500 200 and 300 is: 2000

In [17]:
# case-4
a=1000 #globale variable 
def ADD4():
    a=1500 # local variable 
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
    a=2000 # gv
ADD4()

 the addition of 1500 200 and 300 is: 2000

In [19]:
# case-5
a=1000 #globale variable 
def ADD5(a=3000):
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
    a=2000 # gv
ADD5()

 the addition of 3000 200 and 300 is: 3500

In [22]:
# case-6
a=1000 #globale variable 
def ADD6(a):
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
    a=2000 # gv
ADD6(a=3000)

 the addition of 3000 200 and 300 is: 3500

In [23]:
# case-7
a=1000 #globale variable 
def ADD7(a=4000):
    b=200
    c=300
    addition=a+b+c
    print(f" the addition of {a} {b} and {c} is: {addition}")
    a=2000 # gv
ADD7()

 the addition of 4000 200 and 300 is: 4500

In [24]:
# case-8
a=1000 #globale variable 
def ADD8(a=4000):
    b=200
    c=300
    addition=a+b+c
    a=6000 
    print(f" the addition of {a} {b} and {c} is: {addition}")
    a=2000 # gv
ADD8()

 the addition of 6000 200 and 300 is: 4500

In [25]:
s=10
s=s+100
print(s)

110

In [ ]:
def math():
    s1=s1+100
    s1=10
math()

In [ ]:
s1=100 # gv
def math():
    s1=s1+   # s1 we using locally where is s1? 
    s1=10
math()

In [5]:
s1=100
def math():
    value=s1+100
    print(value)
math()

200

In [6]:
s1=100
def math(s1=0):
    s1=s1+100
math()

In [7]:
s1=100
def math():
    add=s1+100
    print(add)
math()

200

In [21]:
s1=200
def math():
    sub=s1+100
    print(sub)
math()

300

In [28]:
s2=300
def math():
    value=s2-250
    print(value)
math()

50

In [3]:
s2=400
def math():
    add=s2+100
    print(add)
math()

500

In [ ]:
s1=100   # s1=gv

def dipak():
    val=s1+100  # no error
    # directly assign to new variable 
dipak()



s1=100 #gv 

def dipak():
    s1=s1+100   # error
    # assign to some variable s1 local variable 
    # python imadetatlly see s1=100+a 
dipak()

- first additional function scan 

- inside function s1=s1+100

- s1 is a lacal variable available 

- what is this local variable = s1+100

- s1+100 able to get it : NO error 

- value s1+100

- then python use globle variable

- val and s1 both are different

- s1 from outside

**return statment**

- functions wants to give something to the use

- that we need to save using return

In [8]:
def average(a,b,c):
    add=(a+b+c)/3
    avg=round(add,2)
    print(f"the average of {a} {b} and {c} is: {avg}")
    return(avg)
average(20,40,60)

the average of 20 40 and 60 is: 40.0

40.0

In [35]:
def evenodd():
    num1=int(input("Enter The Num:"))
    num2=int(input("Enter The Num:"))
    if num1 % 2 ==0:
        return("Even")
    else:
        return("odd")
evenodd()

Enter The Num: 88
Enter The Num: 21

'Even'

In [5]:
a=10
b=20
a,b 10,20

SyntaxError: invalid syntax (3602892480.py, line 3)

In [4]:
def average5(a,b,c):
    add=(a+b+c)/3
    avg=round(add,2)
    print(f"the avg of {a} {b} and {c} is: {avg}")
average5(10,33,2)

the avg of 10 33 and 2 is: 15.0

**function in function**

In [5]:
def greet1():
    print('good morning')

In [7]:
def greet2():
    print('good night')

In [8]:
greet1()

good morning

In [9]:
greet2()

good night

In [10]:
def greet1():
    print('good morning')



def greet2(): 
    greet1()
    print('good night')



greet2()

good morning
good night

In [12]:
def greet1():
    print(" Hello i am dipak from maharastra but now staing at hyderabad telngana ")


def greet2():
    print("So explain somthing about you :")


greet1(),greet2()

 Hello i am dipak from maharastra but now staing at hyderabad telngana
So explain somthing about you :

(None, None)

In [37]:
def greet1():
    greet2()
    print('good morning')



def greet2(): 
    print('good night')



greet1()

good night
good morning

In [18]:
def greet1():
    print('good morning')
    greet2()

    

def greet2():
    print('good night')

greet1()

good morning
good night

In [22]:
def greet1():
    def greet2():
        print('good night')
    print('good morning')
    greet2()
    

greet1()

good morning
good night

In [46]:
def MATH():
    
    def add1(a,b):
        print('add',a+b)
    def mul1(a,b):
            print('mul:',a*b)
            
    add1(100,200)
    mul1(10,15)

MATH()

add 300
mul: 150

In [ ]:
def number(n):
    #print(n)
    number(n-1)

number(6)  
break

#step0: number(6)
# step1: print(6)  number (5)
# step2: print(5)  number (4)
# step3: print(4)  number (3)
# step4: print(3)  number (2)
# step5: print(2)  number (1)

In [41]:
def number(n):
    
    if n==0:
        return(0)
    print(n)
    number(n-1)
        
        
number(6)

6
5
4
3
2
1

In [45]:
def fact(n):
    if n==0:
        return(1)
    else:
        return(n*fact(n-1))

fact(6)

# step:1 6==0

720

In [15]:
def average1():
    num1=eval(input("enter the num1"))
    num2=eval(input("enter the num2"))
    num3=eval(input("enter the num3"))
    avarage=round((num1+num2+num3)/3)
    print(f"the avarage of {num1},{num2} and {num3} is : {avarage}")
average1()

enter the num1 50
enter the num2 50
enter the num3 100

the avarage of 50,50 and 100 is : 67

In [21]:
def average2(a=60):
    b=100
    c=40
    average=round(a+b+c)/3
    print(f"the average of {a},{b} and {c} is: {average}")

average2()

the average of 60,100 and 40 is: 66.66666666666667

In [24]:
def average():
    x=1000
    y=1500
    z=1500
    average=round(x+y+z)/3
    print(f"the average of {x},{y} and {z} is: {average}")

average()

the average of 1000,1500 and 1500 is: 1333.3333333333333

In [13]:
def area():
    pi=3.14
    r=100
    area_of_circle=pi*r*r
    print(f"the area of circle,{area_of_circle}")
area()

the area of circle,31400.0

In [46]:
def area():
    pi=3.14
    r=50
    area_of_circle=pi*r*r
    print(f"the area of circle,{area_of_circle}")
area()

the area of circle,7850.0

In [15]:
def area():
    b=15
    h=15
    area_of_trangle=5.0*b*h
    print(f"the area of trangle,{area_of_trangle}")
area()

the area of trangle,1125.0

In [2]:
def add(x, y=5):
    return x + y

print(add(3))

8

In [47]:
def greet(name):
    print("hello" + name)
greet("dipak")

hellodipak

In [7]:
def multiply(a,b):
    return a*b

print(multiply(2,3))

6

In [58]:
def test():
    return
    print("inside function")
print(test())

None

In [70]:
def f(x):
    return x, x**2

print(f(6))

(6, 36)

In [73]:
def change(num):
    num += 10
    return num

x = 10
print(change(x))

20

In [11]:

def combine(a, b='World'):
    return a + ' ' + b

print(combine('Hello'))

Hello World

In [75]:
def combine(x,y="dipak"):
    return x + " " + y

print(combine("heyy how are u"))

heyy how are u dipak

In [4]:
def even_odd():
    num1=int(input("Enter the first number:"))
    num2=int(input("Enter the second number:"))
    
    if num1 % 2 == 0:
        return(f"The {num1} is even")
    else:
        return(f"The {num2} is odd")

even_odd()

Enter the first number: 1
Enter the second number: 22

'The 22 is odd'

In [12]:
def avg():
    a=55
    b=40
    c=42
    d=91
    avg=round(a+b+c+d)/4
    print(f"The avg of {a},{b},{c} and {d} numbers is: {avg}")
avg()

The avg of 55,40,42 and 91 numbers is: 57.0

In [17]:
def addition():
    num1=int(input("enter the number a :"))
    num2=int(input("enter the number b :"))
    print(num1+num2)
addition()

enter the number a : 44
enter the number b : 34

78

In [21]:
def avg():
    a=int(input("Enter the number A :"))
    b=int(input("Enter the number B :"))
    c=int(input("Enter the number C :"))
    d=int(input("Enter the number D :"))
    avg=round(a+b+c+d)/4
    print(f"The avg of {a},{b},{c} and {d} is : {avg}")
avg()

Enter the number A : 888
Enter the number B : 666
Enter the number C : 345
Enter the number D : 653

The avg of 888,666,345 and 653 is : 638.0

In [24]:
def area_of_trangle():
    b=6
    h=33
    area_of_trangle=0.5*b*h
    print(f" The are of trangle is : {area_of_trangle}")

area_of_trangle()

 The are of trangle is : 99.0

In [28]:
def combine(a,b="pradip"):
    return a + " " + b
print(combine("heyy how are u "))

heyy how are u  pradip

In [30]:
def combine(y,z="dipak"):
    return y + " " + z 
print(combine("heyy where are u from"))

heyy where are u from dipak

In [6]:
def student(name, age):
    print(f"Name: {name}, Age: {age}")

student(age=20, name="Dipak")

Name: Dipak, Age: 20

In [12]:
def add_all(*numbers):
    return(sum(numbers))

print(add_all(2,22,31,44,34,56))

def show_info(**data):
    for key , value in data.items():
        print(f"{key}:{value}")
show_info(name='Dipak',age=22,cource='Data Science')

189
name:Dipak
age:22
cource:Data Science