**Python मध्ये list तयार करण्याची short आणि smart पद्धत म्हणजे list comprehension.
यात loop आणि condition एका ओळीत लिहून आपल्याला list मिळते**

**List comprehension**

- writing list operation in a singe line is called as list comprehension

- genrally code process time wiil be increase when we use for and if 

- List comprehension will reduce the processing time

$case=1$:**list with for loop**

In [1]:
# append 1 to 10 number in a list

In [4]:
l=[]
for i in range(1,11):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [1]:
n=[]
for i in range(20,31):
    n.append(i)
n

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [18]:
m=[]
for i in range(1,6):
    m.append(i)

m

[1, 2, 3, 4, 5]

In [3]:
n=[]
import random
random.randint(1,16)
for i in range(1,9):
    n.append(i)

n

[1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
s=[]
for i in range(1,11):
    s.append(i)

s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
input=['hyd','bengaluru','mumbai','chennai']
out=[]
for i in input:
    out.append(i.upper())
out

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [10]:
even_odd= lambda x : "even"  if x % 2 == 0 else "odd"
even_odd(44)

'even'

In [ ]:
# Q1) input=['hyd','bengaluru','mumbai','chennai']
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

In [26]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.title())
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [10]:
Input=['hyd','bengaluru','mumbai','chennai']
out=[]
for i in Input:
    out.append(i.upper())

out

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [28]:
Input=['dipak','sagar','pradip','kishor','sandip','vishal','kartik']
output=[]
for i in Input:
    output.append(i.upper())
output

['DIPAK', 'SAGAR', 'PRADIP', 'KISHOR', 'SANDIP', 'VISHAL', 'KARTIK']

**using lambda functon**

In [2]:
even_odd= lambda num: 'even' if num%2 == 0 else 'odd'
even_odd(41)

'odd'

**using def function**

In [4]:
def even_odd(num):
    if num % 2 == 0:
        return('even')
    else:
        return('odd')
even_odd(33)

'odd'

In [2]:
def even_odd(num):
    if num % 2 == 0:
        return 'even'
    else:
        return 'odd'
even_odd(33)

'odd'

In [14]:
def even_odd(num):
    if num % 2 == 0:
        return "even"
    else:
        return "odd"
even_odd(76)

'even'

**using if statments**

In [22]:
import random
random.randint(1,50)
for i in range(1,6):
    num1=int(input("enter the number1"))
    if i%2==0:
        print(f"The {num1} is even")
    else:
        print(f"The {num1} is odd")

enter the number1 12

The 12 is odd

enter the number1 11

The 11 is even

enter the number1 55

The 55 is odd

enter the number1 77

The 77 is even

enter the number1 41

The 41 is odd

In [16]:
import random 
random.randint(1,50)
for i in range(1,25):
    if i % 2 == 0:
        print(f" The {i} is evens")
    else:
        print(f' The {i} is odds')

 The 1 is odds
 The 2 is evens
 The 3 is odds
 The 4 is evens
 The 5 is odds
 The 6 is evens
 The 7 is odds
 The 8 is evens
 The 9 is odds
 The 10 is evens
 The 11 is odds
 The 12 is evens
 The 13 is odds
 The 14 is evens
 The 15 is odds
 The 16 is evens
 The 17 is odds
 The 18 is evens
 The 19 is odds
 The 20 is evens
 The 21 is odds
 The 22 is evens
 The 23 is odds
 The 24 is evens

In [13]:
Input=['hyd','bengaluru','mumbai','chennai']
Input=[i.upper() for i in Input]
Input

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [32]:
Input=['hyd','bengaluru','mumbai','chennai']
Iutput=[i.title() for i in Input]
Iutput

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [83]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[]
for i in Input:
    output.append(i.upper())
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [8]:
Input=['pune','mumbai','delli','chennai']
out=[]
for i in Input:
    out.append(i.upper())
out

['PUNE', 'MUMBAI', 'DELLI', 'CHENNAI']

In [12]:
output=[i.upper() for i in Input]
output

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

$Case-2$:**for-if condition**

In [61]:
import random
numbers=[random.randint(1,100) for i in range(16)]
even_list=[]
for i in range(17):
    if i%2==0:
        even_list.append(i)
even_list

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [81]:
import random
num=[random.randint(1,100) for i in range(9)]
odd_list=[]
for i in range(10):
    if i%2!=0:
        odd_list.append(i)
odd_list

[1, 3, 5, 7, 9]

In [67]:
import random
num=[random .randint(1,50) for i in range (15)]
even_list=[]
for i in num:
    if i % 2 ==0:
        even_list.append(i)

even_list

[24, 42, 26, 10, 32, 4, 10, 42]

In [13]:
import random 
num=[random.randint(1,1000) for i in range(50)]
even_list=[]
for i in num:
    if i % 2 == 0:
        even_list.append(i)
even_list

[622,
 430,
 222,
 692,
 498,
 572,
 452,
 86,
 400,
 90,
 844,
 910,
 568,
 886,
 274,
 904,
 976,
 178,
 702,
 756,
 352,
 662,
 1000,
 798,
 252,
 456,
 46,
 188,
 216,
 896]

In [2]:
# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

In [31]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
output=[i for i in Input if '#' not in i]
output

['hyd', 'bengaluru']

In [72]:
Input=['hyd','bengaluru','mum$bai','chen$nai']
output=[i for i in Input if '$'  in i]
output

['mum$bai', 'chen$nai']

In [31]:
Input=['dip@k','sag@r','pr@dip','kishor','s@ndip','vish@l','k@rtik']
output=[i for i in Input if "@" in i ]
output

['dip@k', 'sag@r', 'pr@dip', 's@ndip', 'vish@l', 'k@rtik']

In [ ]:
[<output> <for loop>]
[<output> <for loop>]                         #case-2
[<if out> <if cond> <else out> for loop]

Case-3: **for-if-else**

In [ ]:
[<output> <for>loop>]
[<output> <for loop> <if loop]
[<output> <for loop> else <else out> for loop]

In [66]:
import random
numbers=[random.randint(1,100) for i in range(1,5)]
output=[]
for i in numbers:
    if i%2==0:
        output.append(f"even:{i}")
    else:
        output.append(f"odd:{i}")
output

['even:6', 'even:6', 'odd:67', 'even:46']

In [64]:
output=[f"even:{i}" if i%2==0 else f"odd:{i}" for i in numbers]

In [65]:
output

['odd:87', 'odd:63', 'even:42', 'odd:25']

$case-4$:**for if-elif-else**

In [ ]:
[<output> <for loop>]
[<output> <for loop> <if cond>]
[<output> <for lool> else <else out> for loop>]
[<output> <if cond> <elif out> <elif count]

In [53]:
l=[50,70,90]
out=[]
for i in l:
    if i>85:
        out.append('A')
    elif i>65:
        out.append('B')
    else:
        out.append('C')
out

['C', 'B', 'A']

In [26]:
out = [ 'A' if i > 85 else 'B' if i > 65 else 'C' for i in l]
out

['C', 'B', 'A']

In [27]:
out

['C', 'B', 'A']

In [3]:
marks = [45,76,89,53,67,90,82,49,33,99]
out=[]
for i in marks:
    if i>85:
        out.append('A')
    elif i>70:
        out.append('B')
    elif i>69:
        out.append('C')
    elif i>60:
        out.append('D')
    
    else:
        out.append('fail')

out

['fail', 'B', 'A', 'fail', 'D', 'A', 'B', 'fail', 'fail', 'A']

In [18]:
out=['A' if i>85 else 'B' if i>70 else 'C' if i>69 else 'D' if i>60 else 'fail' for i in marks]
print(f"Gread for all student : {out}")

Gread for all student : ['fail', 'B', 'A', 'fail', 'D', 'A', 'B', 'fail', 'fail', 'A']

In [42]:
num=[55,60,65,70,75,80,85]
out=[]
for i in num:
    if i>80:
        out.append('A')
    elif i>70:
        out.append('B')   
    elif i>60:
        out.append('C')
    else:
        out.append('Fail')
out

out=['A' if i>80 else 'B' if i>70 else 'C' if i>60 else 'Fail'for i in num]
print(f" Gread of all student : {out}")

 Gread of all student : ['Fail', 'Fail', 'C', 'C', 'B', 'B', 'A']

In [14]:
num=[45,55,60,65,70,75]
out=[]
for i in num:
    if i>70:
        out.append('A')
    elif i>65:
        out.append('B')
    elif i>60:
        out.append('C')
    elif i>55:
        out.append('D')
    else:
        out.append('faill')

out

out=['A' if i>70 else 'B' if i>65 else 'C' if i>60 else 'D' if i>55 else 'faill' for i in num]
print(f" Gread of all student : {out}")

 Gread of all student : ['faill', 'faill', 'D', 'C', 'B', 'A']

In [17]:
marks=[36,45,57,63,70,76,80,85]
out=[]
for i in marks:
    if i>80:
        out.append('A+')
    elif i>70:
        out.append('A')
    elif i>60:
        out.append('B')
    elif i>58:
        out.appned('C')
    else:
        out.append('Faill')
out

out=['A+' if i>80 else 'A' if i>70 else 'B' if i>60 else 'C' if i>58 else  'Faill' for i in marks]
print(f"marks of all student is {out}")

marks of all student is ['Faill', 'Faill', 'Faill', 'B', 'B', 'A', 'A', 'A+']

In [55]:
Input=["dipa@k","shubh@m","pr@dip","kishor",'sandip',"sarth@k",'kartik','vishal','@bhi']
output=[ i for i in Input if '@'  in i]
output

['dipa@k', 'shubh@m', 'pr@dip', 'sarth@k', '@bhi']

**Valurus(walrus) operator**

In [18]:
num=list(range(1,11))
summ=0
sum=[summ:=summ+i for i in num]

summ/len(num)

5.5

In [35]:
num=list(range(5,11))
summ=0
sum=[summ:=summ+i for i in num]

summ/len(num)

7.5

In [37]:
num=list(range(5,11))
mull=0
sum=[mull:=mull*i for i in num]

mull/len(num)

0.0

**Lamnda function**

- lamnbda function also function 

- it is similar to list comprehension 

- function we are writing a single line

**Case-1: function with one arguments**

In [19]:
def add(a):
    return(a+10)
add(20)

30

In [ ]:
# what is the function name : add
# what is the argument
# what is the output : a+10

<function_name>= lambda <arg> : <output>

In [20]:
add= lambda a : a+10
add(50)

60

In [21]:
sub=lambda b : b-20
sub(30)

10

**Case-2: multiple argument**

In [28]:
def avg(x,y,z):
    return(x+y+z)/3
avg(10,20,30)

20.0

In [33]:
avg = lambda a,b,c :(a+b+c)/3
avg(2,3,7)  # round

4.0

In [38]:
avg= lambda x,y,z: (x+y+z)/3
avg(7,3,8)

6.0

**Case-3: if-else**

In [1]:
def even_odd(num):
    if num%2==0:
        return('even')
    else:
        return('odd')

even_odd(21)

'odd'

In [35]:
even_odd= lambda num: 'even' if num%2==0 else 'odd'
even_odd(20)

'even'

**Case-4: list operations**

In [3]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.title() for i in Input]
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [44]:
# step -1 : create a function
Input=['hyd','bengaluru','mumbai','chennai']
lambda i : i.title()

In [19]:
import random
num=[random.randint(1,100) for i in range(1,25)]
out=[]
for i in num:
    if i % 2==0:
        out.append(f"even:{i}")
    else:
        out.append(f"odd:{i}")

out

['odd:85',
 'even:96',
 'odd:15',
 'even:44',
 'even:96',
 'odd:9',
 'odd:49',
 'odd:17',
 'even:46',
 'even:82',
 'even:94',
 'even:66',
 'odd:57',
 'odd:93',
 'odd:27',
 'odd:67',
 'odd:75',
 'odd:87',
 'even:54',
 'even:24',
 'even:88',
 'even:38',
 'odd:85',
 'odd:89']

In [21]:
def even_odd(num):
    if num % 2 == 0:
        return(f"even {num}")
    else:
        return(f'odd {num}')

even_odd(32)

'even 32'

In [29]:
def avg(x,y,z):
    return(x+y+z)/3
avg(20,22,25)

22.333333333333332

In [32]:
avg=lambda a,b,c: (a+b+c)/3
avg(44,53,11)

36.0

In [43]:
even_odd= lambda num:'even' if i % 2==0 else 'odd'
even_odd()

'odd'

In [5]:
# step-2: this argument need input
# that inputs are available in a list : Input
# lambda <arg> : <output>,<list>
lambda i : i.title(),Input

(<function __main__.<lambda>(i)>, ['hyd', 'bengaluru', 'mumbai', 'chennai'])

**Map**

In [6]:
# step3: map the function and list 
# map (<function>,<list>)
list(map(lambda i : i.title(), Input))

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [7]:
lambda i : i.title()
lambda i : i.title(),Input
map(lambda i : i.title(),Input)

In [8]:
Input=['hyd','bengaluru','mumbai','chennai']
list(map(lambda i : i.upper(),Input))

['HYD', 'BENGALURU', 'MUMBAI', 'CHENNAI']

In [9]:
#     output=['Hyd','Bengaluru','Mumbai','Chennai']

# Q2) input=['hyd','bengaluru','mumbai','chennai']
#     output=['HYD','BENGALURU','MUMBAI','CHENNAI']

# Q3) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['mum#bai','chen#nai']

# Q4) input=['hyd','bengaluru','mum#bai','chen#nai']
#     output=['hyd','bengaluru']

# Q5) input=['hyd','bengaluru','mumbai','chennai']
#     multiply all indexes by 10

# Q6) input=['hyd','bengaluru','mumbai','chennai']
#     sum of all indexes

# Q7) Sum of first 10 Natural numbers

**Filter**

In [15]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
list(filter(lambda i : '#' in i,Input))

['mum#bai', 'chen#nai']

**Reduce**

- reduce for any math operation

- sum of first 10 natural num

In [19]:
summ=0
for i in num:
    summ=summ+i
print(summ)
summ1=0
[summ1:=summ1+i for i in num][-1]

55

55

In [17]:
import functools
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 '_unwrap_partialmethod',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [ ]:
map(lambda <arg>: <output>,<list>)
filter(lambda <arg>:<cond out>,<list>)
reduce(lambda <arg> : <out>,<list>)

In [23]:
from functools import reduce
num = [i for i in range(1, 11)]
summ = 0
for i in num:
    summ = summ + i
    print(summ)

1
3
6
10
15
21
28
36
45
55

In [24]:
    num=[i for i in range (1,11)]
reduce(lambda s,i : s+i,num,100)

155

In [29]:
from functools import reduce
num=[ i for i in range (20,30)]
sub =0
for i in num:
    sub = sub - i
    print (sub)
    num=[i for i in range (20,30)]
reduce(lambda s,i: s-i,num,100)

-20
-41
-63
-86
-110
-135
-161
-188
-216
-245

-145

In [38]:
from functools import reduce
num=[i for i in range (40,50)]
for i in num:
    mul=1
    mul = mul * i
    print(mul)
    num=[i for i in range (40,50)]
reduce(lambda m,i :m*i ,num,100)

40
41
42
43
44
45
46
47
48
49

2982083441863680000

In [1]:
l= [ i for i in range(10)]

In [2]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:

l = [f"even {i}"  for i in range(10) if i%2==0]
l

['even 0', 'even 2', 'even 4', 'even 6', 'even 8']

In [34]:
n = [f" odd{i}"  for i in range (16) if i % 2 != 0]
n

[' odd1', ' odd3', ' odd5', ' odd7', ' odd9', ' odd11', ' odd13', ' odd15']

In [26]:
l = [f"even {i}" if i%2==0 else
    f"odd {i}" if i%2!=0 else
     "invalid"
    for i in range(10)]
l

['even 0',
 'odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9']

In [27]:
n = [f"even {i}" if i % 2 == 0 else
     f" odd  {i}" if i % 2 != 0 else
     "invalid"
      for i in range (16)]

In [28]:
n

['even 0',
 ' odd  1',
 'even 2',
 ' odd  3',
 'even 4',
 ' odd  5',
 'even 6',
 ' odd  7',
 'even 8',
 ' odd  9',
 'even 10',
 ' odd  11',
 'even 12',
 ' odd  13',
 'even 14',
 ' odd  15']

In [ ]:
for only if  # output, for loop, condition only for if 

for if and else # output , condition , for if and else

In [37]:
l=[i for i in range(11)]

In [38]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [45]:
l=[f"even>{i}" for i in range(11) if i % 2 == 0]

In [46]:
l

['even>0', 'even>2', 'even>4', 'even>6', 'even>8', 'even>10']

In [49]:
l=[f" the give number is even-{i}" if i%2==0 else
  f" the give number is even- odd-{i}" for i in range(20) ]

In [50]:
l

[' the give number is even-0',
 ' the give number is even- odd-1',
 ' the give number is even-2',
 ' the give number is even- odd-3',
 ' the give number is even-4',
 ' the give number is even- odd-5',
 ' the give number is even-6',
 ' the give number is even- odd-7',
 ' the give number is even-8',
 ' the give number is even- odd-9',
 ' the give number is even-10',
 ' the give number is even- odd-11',
 ' the give number is even-12',
 ' the give number is even- odd-13',
 ' the give number is even-14',
 ' the give number is even- odd-15',
 ' the give number is even-16',
 ' the give number is even- odd-17',
 ' the give number is even-18',
 ' the give number is even- odd-19']

16

In [62]:
squar= lambda x: x*x*x

In [63]:
squar(2)

8

In [65]:
squar=lambda x: x*x

In [66]:
square(6)

36

In [79]:
a=[1,2,3,4,5,6,7,8]

b=list( map(lambda y: y*y, a))
b

[1, 4, 9, 16, 25, 36, 49, 64]

[<map object at 0x000002B343854D30>]

In [80]:
Input=['hyd','bengaluru','mumbai','chennai']
output=[i.title() for i in Input]
output

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [87]:
list(map(lambda x: x.title(), Input))

['Hyd', 'Bengaluru', 'Mumbai', 'Chennai']

In [88]:
Input=['hyd','bengaluru','mum#bai','chen#nai']

In [89]:
list(map(lambda y: y.title(), Input))

['Hyd', 'Bengaluru', 'Mum#Bai', 'Chen#Nai']

In [91]:
list(map(lambda z: z.upper(), Input))

['HYD', 'BENGALURU', 'MUM#BAI', 'CHEN#NAI']

In [92]:
list(map(lambda t: t.lower(), Input))

['hyd', 'bengaluru', 'mum#bai', 'chen#nai']

In [93]:
l=list(range(11))

In [94]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [111]:
list(map(lambda a: f"even>{a}" if a % 2==0 else
         f"odd>{a}" ,l ))

['even>0',
 'odd>1',
 'even>2',
 'odd>3',
 'even>4',
 'odd>5',
 'even>6',
 'odd>7',
 'even>8',
 'odd>9',
 'even>10']

In [112]:
l=[f" the give number is even-{i}" if i%2==0 else
  f" the give number is even- odd-{i}" for i in range(20) ]

In [2]:
[f"even>{i}" for i in range(11) if i % 2 == 0]

['even>0', 'even>2', 'even>4', 'even>6', 'even>8', 'even>10']

In [126]:
l=list(range(11))
list(filter(lambda x: x % 2==0,l))

[0, 2, 4, 6, 8, 10]

In [128]:
Input=['hyd','bengaluru','mum#bai','chen#nai']
list(filter(lambda x: "#" not in x, Input))

['hyd', 'bengaluru']

In [130]:
l=['hyd','bengaluru','mum#bai','chen#nai']
out=[ i for i in l if "#" in i]

In [131]:
out

['mum#bai', 'chen#nai']

In [144]:
l=['hyd','bengaluru','mum#bai','chen#nai']
ou=[i if "#" in i else
    "rahul" if "#" not in i else
    "invalid"
   for i in l]

In [146]:
ou

['rahul', 'rahul', 'mum#bai', 'chen#nai']

In [6]:
f= list(range(11))

In [7]:
f=[f"even{i}" if i%2==0 else
   f"odd{i}" 
   for i in range f
  ]

SyntaxError: invalid syntax (1128528548.py, line 3)

In [150]:


for i in range(3):
    print(i)

0
1
2

In [151]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

In [152]:
for i in range(2, 8):
    print(i)

2
3
4
5
6
7

In [156]:
for i in range(0):
    print(i)

In [157]:
for char in "Hi":
    print(char)

H
i

In [158]:
for i in range(3):
    pass

In [159]:
for i in range(5):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
for i,j in zip(range(11), range(11)):
    print(i,j)

0 0
1 1
2 2
3 3
4 4
5 5
6 6
7 7
8 8
9 9
10 10

In [4]:
for i,a,l in zip(range (15), range(15),range(15)):
    print(i,a,l)

0 0 0
1 1 1
2 2 2
3 3 3
4 4 4
5 5 5
6 6 6
7 7 7
8 8 8
9 9 9
10 10 10
11 11 11
12 12 12
13 13 13
14 14 14

In [7]:
l=[10,20,3,4,5,6,7]
l1=[1,2,3,7]

for i,j in zip(l,l1):
    print(i,j)

10 1
20 2
3 3
4 7

list comphension

In [1]:
l= [ i for i in range(11)]

In [2]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
l1 = [ i for i in range(11) if i%2==0]

In [7]:
l1

[0, 2, 4, 6, 8, 10]

In [8]:
l1= [ f"even {i}" if i%2== 0 else f"odd {i}" for i in range(11) ]

In [9]:
l1

['even 0',
 'odd 1',
 'even 2',
 'odd 3',
 'even 4',
 'odd 5',
 'even 6',
 'odd 7',
 'even 8',
 'odd 9',
 'even 10']

In [10]:
l2 = [i for i in range(11) if i%2!=0]

In [11]:
l2

[1, 3, 5, 7, 9]

In [6]:
numbers=[]
for i in range(1,6):
    numbers.append( i * i)
print(numbers)   # without list comprehension

[1, 4, 9, 16, 25]

In [7]:
numbers =[i * i for i in range(1,6)]
print(numbers)

[1, 4, 9, 16, 25]

In [8]:
evens= [x for x in range (16) if x % 2 == 0] 
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14]

In [13]:
matrix = [[j for j in range(5)]for i in range(5)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [10]:
matrix = [[j for j in range(3)] for i in range(3)]
print(matrix)

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]