In [1]:
# our focus not only write the code 
# explain to the grandfather

In [1]:
a=10
b=20
print(a)
print(b)

10
20

In [2]:
a=10
b=20
a,b

(10, 20)

In [3]:
a=10 
b=20
print(a,b)

10 20

In [4]:
a=10
b=20
c=a+b
print(c)

# a=10 , b=20 c=sum a and b 
# sum of two variable

30

In [6]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is: 30")
print("sum of a and b is: c")
print("sum of ",a ,"and",b, "is" ,c)

sum of 10 and 20 is: 30
sum of a and b is: c
sum of  10 and 20 is 30

In [7]:
a=53
b=33
c=43
d=a+b+c
print(f"sum of 53 , 33 and 43 : {d }")
print("sum of a , b and c is : d")
print('sum of',a, b, 'and',c, 'is:',d)

sum of 53 , 33 and 43 : 129
sum of a , b and c is : d
sum of 53 33 and 43 is: 129

In [8]:
x= 50
y= 55
z= 65
s=x+y+z
print(f'sum of {x},{y} and {z} is: {s}')

sum of 50,55 and 65 is: 170

In [13]:
x= 50
y= 55
z= 65
avg=(x+y+z)/3
print(f'The avg of numbers is {avg}')

The avg of numbers is 56.666666666666664

In [26]:
num=eval(input("enter the number"))
if num % 2 ==0:
    print('The num is even')
else:
    print('The num is odd')

enter the number 22

The num is even

In [9]:
name='python'
age=10
city="hyd"
print("my name is ",name, "im" ,age, "year old came from",city)

my name is  python im 10 year old came from hyd

**method-2format**

In [31]:
a=10
b=20
c=a+b
print("sum of {a} and {b} is: {c}")
print("sum of {} and {} is: {}")
print("sum of {} and {} is : {}".format(a,b,c))

sum of {a} and {b} is: {c}
sum of {} and {} is: {}
sum of 10 and 20 is : 30

In [2]:
# wap ask the user an find the avg of four numbers p,q,r,s

p=int(input("enter the num1:"))
q=int(input("enter the num2:"))
r=int(input("enter the num3:"))
s=int(input("enter the num4:"))
avg=(p+q+r+s)/3
print(f" The avg of numbers is : {avg}")

enter the num1: 55
enter the num2: 75
enter the num3: 80
enter the num4: 91

 The avg of numbers is : 100.33333333333333

In [16]:
name= 'dipak'
age= 22
city= 'hyderabad'
print("my name is dipak im 22 year old come from hyderabad")
print(" my name  is {} im {} year old come from {} ".format(name ,age,city))

my name is dipak im 22 year old come from hyderabad
 my name  is dipak im 22 year old come from hyderabad

**method-3fstring**

In [17]:
a=10
b=20
c=a+b
print("sum of 10 and 20 is: 30")
print("sum of {a} and {b} is: {c}")
print(f"sum of {a} and {b} is: {c}")

sum of 10 and 20 is: 30
sum of {a} and {b} is: {c}
sum of 10 and 20 is: 30

In [18]:
# wap ask the user take the two number 
# print substraction addition division and multiplication 

# output like below:
# the addition 100 and 200 is: 300      a+b
# the substraction 100 and 200 is:-100   a-b
# the multiplication 100 and 200 is: 20000   a*b
# the division 100 and 200 is: 0.5  a/b

In [21]:
a=100
b=200
print(f"sum of {a} and {b} is equal to {a+b}.")
print(f"sub of {a} and {b} is equal to {a-b}.")
print(f" multi of {a} and {b} is equal to {a*b}.")
print(f" div of {a} and {b} is equal to {a/b}.")

sum of 100 and 200 is equal to 300.
sub of 100 and 200 is equal to -100.
 multi of 100 and 200 is equal to 20000.
 div of 100 and 200 is equal to 0.5.

In [23]:
# wap ask the user take three number a,b,c
# find the average 
# formula : avg=(a+b+c)/3


a=111
b=200
c=300
avg=(a+b+c)/3
print(f"the avg of {a} {b} and {c} is: {avg}")

the avg of 111 200 and 300 is: 203.66666666666666

In [1]:
x=400
y=450
z=380
avg=(x+y+z)/3
print(f"the avg of {x},{y} and {z} is: {avg}")

the avg of 400,450 and 380 is: 410.0

In [5]:
p = 77
q = 80
r = 90
avg=(p+q+r)/3
avg=round(avg,2)
print(f" the avg of {p} , {q} and {r} is : {avg}")

 the avg of 77 , 80 and 90 is : 82.33

In [24]:
round(34.47)

34

In [28]:
round(34.57)

35

In [7]:
round(34.47777,1) # 34.5
round(34.47777,2) #34.48
round(34.47777,3) #34.478

34.478

In [34]:
a=50
b=100
c=150
avg=(a+b+c)/3
avg1=round(avg,2)
print(f" the avg of {a} {b} and {c} is: {avg}")

 the avg of 50 100 and 150 is: 100.0

In [35]:
# wap ask the user take two num print subtraction multiplication and division 
# wap ask the radius find the area of circle 
# pi=3.14
# area_of_circle=pi*r*r

# wap ask the user height and breath find the area of trangle 
#     area_of_trangle=0.5*b*h


# wap ask the user take the three number find the average 
# wap ask the user take the bill amount and tip amount calculate bill 
# wap ask the user take the salery, percentage of tax calculate tax amount
# wap ask the user take the value in dollar convert into pounds
#   1kg=2.2pounds

In [1]:
# pi=3.14
# r=100
# area_of_circle=pi*r*r
pi=3.14
r=100
area_of_circle=pi*r*r

print(area_of_circle) # fine for me

31400.0

In [2]:
# wap ask the user height and breath find the area of trangle 
#     area_of_trangle=0.5*b*h

b=10
h=20
area_of_trangle=0.5*b*h
print(area_of_trangle)

100.0

In [9]:
b=eval(input("enter the number1:"))
h=eval(input("enter the number2:"))
area_of_trangle=0.5*b*h
print(area_of_trangle)

enter the number1: 22
enter the number2: 25

275.0

In [3]:
bill_amount=100
tip_per=10

In [4]:
tip_amount=bill_amount*tip_per/100
total_amount=bill_amount+tip_amount

In [5]:
# wap ask the user take the salary,percentage of tax calculate tax amount
bill_amount=10000
tip_persentage=10
tip_amount=bill_amount*tip_persentage/100
total_amount=bill_amount+tip_amount
print(f"the total bill is: {total_amount}")

the total bill is: 11000.0

In [12]:
bill_amount=eval(input("enter the num1:"))
tip_persentage=eval(input("enter the num2:"))
tip_amount=bill_amount*tip_persentage/100
total_amount=bill_amount+tip_amount
print(f"The total bill is : {total_amount}")

enter the num1: 5000
enter the num2: 15

The total bill is : 5750.0

In [13]:
bill_amount=int(input("enter the num1"))
tip_per=int(input("enter the num2"))
tip_amount=bill_amount*tip_per/100
total_amount=bill_amount+tip_amount
print(f"The total bill is : {total_amount}")

enter the num1 7000
enter the num2 11

The total bill is : 7770.0

In [4]:
# wap ask the user take the value in dollar convert into rupees
#1$=80rs
dollar=5
rupee_value=80
total=dollar*rupee_value
print(f"total amount in rupee:5$*80rs=400")
print(f"total amount in rupee:{dollar}$*{rupee_value}rs{total}")

total amount in rupee:5$*80rs=400
total amount in rupee:5$*80rs400

In [1]:
dollar=15
rupee_value=80
total=dollar*rupee_value
print(f"total amount in rupee : 15$*80rs=1200")
print(f" total amount in rupee: {dollar}$*{rupee_value}rs{total}")

total amount in rupee : 15$*80rs=1200
 total amount in rupee: 15$*80rs1200

In [11]:
dollar=5
rupee_value=80
total=dollar*rupee_value
print("total amount in rupee:5$*80rs=400")
print("total amount in rupee:{}$*{}rs={}")
print(f"total amount in rupee:{dollar}$*{rupee_value}rs={total}")
print(f"total amount in rupee:{dollar}$*{rupee_value}rs={total}rs")

total amount in rupee:5$*80rs=400
total amount in rupee:{}$*{}rs={}
total amount in rupee:5$*80rs=400
total amount in rupee:5$*80rs=400rs

In [21]:
kgs = 50 
pound = 2.20462
converted_value = kgs* pound
print(f"converted value of weight of kg is {kgs} and pound  is {pound} : {converted_value}")

converted value of weight of kg is 50 and pound  is 2.20462 : 110.231

In [8]:
kgs=80
pound=3.30462
converted_value = kgs* pound
print(f"converted value of weight of kg is {kgs} and pound is {pound} : {converted_value}")

converted value of weight of kg is 80 and pound is 3.30462 : 264.3696

In [28]:
weight_in_kgs=50
weight_in_pounds=2.2*weight_in_kgs
print(f"weight_in_pounds = weight_in_kgs*2.2 = {weight_in_pounds}*2.2 = {weight_in_kgs}")

weight_in_pounds = weight_in_kgs*2.2 = 110.00000000000001*2.2 = 50

In [4]:
dollar = 20
rupee_value = 80
total = dollar*rupee_value
print("total amount in rupee:20$*80rs=2000")
print(f"total amount in rupee:{dollar}$*{rupee_value}rs={total}")

total amount in rupee:20$*80rs=2000
total amount in rupee:20$*80rs=1600

In [3]:
a=10
b=20
print(f"The addition of {a} and {b} is {a+b}")

The addition of 10 and 20 is 30

In [13]:
round(40.5777)

41

In [27]:
round(34.47777,4)

34.4778

In [28]:
round(44.51)

45