**loops**

- loops are use to reapet a block  of code multiple time

- function means reuse of code

- when ever you think about how many times then think about loops

- entry point : initial point 

- condition : how many time the loops should run

    - incremental

    - decremental

- stop point: conditional

**for loop**

In [1]:
print('hello')
print('hello')
print('hello')

hello
hello
hello

**case-1: range (stop)**

- range(3)

- start(0)

- increment by 1

- last=stop-1=3-1=2

- 0  1  2

In [3]:
for i in range (3):
    print(i)

# i=0     print(0)
# i=1    print(1)
# i=2    print(2)

0
1
2

In [6]:
for i in range(3):
    print('hello')

hello
hello
hello

In [4]:
# syntax 
for i in range(3):
    print("rahul")

rahul
rahul
rahul

In [1]:
for i in range(1):
    print("manoj jarange patil king of maratha")

manoj jarange patil king of maratha

In [1]:
# Q1) : wap ask the user take a number print sq of number 
#      ask the repeat task 3 time

In [9]:
num= int(input("enter the num:"))
for i in range(3):
    print(f"The sq of the number of:{num*num}")

enter the num: 4

The sq of the number of:16
The sq of the number of:16
The sq of the number of:16

In [2]:
for i in range(4):
    num=eval(input("enter the number"))
    print(f'the sq of the {num} is: {num*num}')

enter the number 3

the sq of the 3 is: 9

enter the number 44

the sq of the 44 is: 1936

enter the number 66

the sq of the 66 is: 4356

enter the number 111

the sq of the 111 is: 12321

In [6]:
num=eval(input("enter the number"))
for i in range(1,6):
    print(f"the sq of the {num} is: {num*num}")

enter the number 40

the sq of the 40 is: 1600
the sq of the 40 is: 1600
the sq of the 40 is: 1600
the sq of the 40 is: 1600
the sq of the 40 is: 1600

In [3]:
num=eval(input("enter the num"))
for i in range (5,10):
    print(f"the sq of {num}")

enter the num 32

the sq of 32
the sq of 32
the sq of 32
the sq of 32
the sq of 32

In [10]:
for i in range(5):
    num=int(input("Enter the number :"))
    print(f" The SQ of num is : {num*num}")

Enter the number : 2

 The SQ of num is : 4

Enter the number : 3

 The SQ of num is : 9

Enter the number : 4

 The SQ of num is : 16

Enter the number : 7

 The SQ of num is : 49

Enter the number : 8

 The SQ of num is : 64

In [11]:
for i in range(5):
    num=int(input("Enter the number : "))
    print(f" The cude of num is: {num*num*num}")

Enter the number :  4

 The cude of num is: 64

Enter the number :  2

 The cude of num is: 8

Enter the number :  5

 The cude of num is: 125

Enter the number :  7

 The cude of num is: 343

Enter the number :  4

 The cude of num is: 64

In [13]:
for i in range(11):
    print(f"7*i")

7*i
7*i
7*i
7*i
7*i
7*i
7*i
7*i
7*i
7*i
7*i

In [41]:
for i in range(11):
    print(f'7*{i}={7*i}')

7*0=0
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [7]:
for i in range(11):
    print(f"9*{i}={9*i}")

9*0=0
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90

In [42]:
for i in range(11):
    print(f"8*{i}={8*i}")

8*0=0
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80

In [1]:
for i in range(11):
    print(f"6*{i}={6*i}")

6*0=0
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60

In [2]:
for i in range(11):
    print(f"4*{i}={4*i}")

4*0=0
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40

In [12]:
for i in range(11):
    print(f"3*{i}={3*i}")

3*0=0
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30

In [14]:
lower = 1
upper = 50
print("prime num between ", lower , upper )
for num in range(lower , upper + 1):
    if num > 1:
        for i in range(2, num):
            if (num % i)==0:
                break
        else:
            print(num)

prime num between  1 50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [15]:
a="dipak"
if a in a:
    a=a.replace("a","@")
else:
    print("not in list")
a

'dip@k'

In [16]:
b=22
h=19
area_of_trangle=0.5*b*h
print(f"area of trangele is {area_of_trangle}")

area of trangele is 209.0

In [21]:
import calendar
year=int(input("Enter the month :"))
month=int(input("Enter the year:"))
cal = calendar.month(year,month)
print(cal)

Enter the month : 2010
Enter the year: 2

   February 2010
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28

**case-2: range(start,stop)**

- range(10,15)

- start=start=10

- increment by 1

- last=stop-1=15-1=14

- 10,11,12,13,14

In [20]:
for i in range (10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [1]:
for i in range (10,21):
    print(i,end="  ")

10  11  12  13  14  15  16  17  18  19  20

In [12]:
print('hello' , end='>>>>>>>>>>')
print('hay' , end='...........')
print('bye')

hello>>>>>>>>>>hay...........bye

In [7]:
for i in range(10):
    num=eval(input("enter the number"))
    print(f"the sq of the {num} is: {num*num}")

enter the number 20

the sq of the 20 is: 400

enter the number 10

the sq of the 10 is: 100

enter the number 30

the sq of the 30 is: 900

enter the number 40

the sq of the 40 is: 1600

enter the number 50

the sq of the 50 is: 2500

enter the number 45

the sq of the 45 is: 2025

enter the number 25

the sq of the 25 is: 625

enter the number 15

the sq of the 15 is: 225

enter the number 100

the sq of the 100 is: 10000

enter the number 90

the sq of the 90 is: 8100

In [13]:
for i in range(5):
    num=eval(input("enter the number"))
    print(f"the sq of num is {num*num}")

enter the number 22

the sq of num is 484

enter the number 44

the sq of num is 1936

enter the number 21

the sq of num is 441

enter the number 9

the sq of num is 81

enter the number 12

the sq of num is 144

In [10]:
for i in range (2):
    num=eval(input("enter the num"))
    print(f" the sq of the num is: {num*num}")

enter the num 50

 the sq of the num is: 2500

enter the num 66

 the sq of the num is: 4356

In [2]:
for i in range (3):
    num=eval(input("enter the num"))
    print(f"the sq of num is {num*num}")

enter the num 30

the sq of num is 900

enter the num 54

the sq of num is 2916

enter the num 99

the sq of num is 9801

In [2]:
for i in range(1,6):
    num=int(input("enter the number:"))
    print(f"the sq of {num} is: {num*num}")

enter the number: 22

the sq of 22 is: 484

enter the number: 90

the sq of 90 is: 8100

enter the number: 891

the sq of 891 is: 793881

enter the number: 77

the sq of 77 is: 5929

enter the number: 09

the sq of 9 is: 81

Q3 ask the user enter the number print even or odd
#  repeat the task 5 time 

Q4  ask the user get a random number between 1 to 100 print even or odd
#  repeat the 5 time

In [35]:
for i in range(1):
    num=eval(input("enter the number"))
    if num % 2 ==0:
        print('even')
    else:
        print(nu'odd')

enter the number 11

odd

In [22]:
import random
for i in range(5):
    num=random.randint(1,100)
    if num % 2 ==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

7 is odd
20 is even
4 is even
21 is odd
47 is odd

In [26]:
import random
for i in range (3):
    num=random.randint (3,400)
    if num % 2 ==0:
        print(f" the {num} is even")
    else:
        print(f"the {num} is odd")

 the 348 is even
 the 210 is even
 the 164 is even

In [15]:
def even_odd (num):
    if num % 55>=100:
        print(f"the {num} is even")
    else:
        print(f" the {num} is odd")

even_odd(88)

 the 88 is odd

In [16]:
def even_odd(num):
    if num % 2 ==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

even_odd(44)

44 is even

In [14]:
def even_odd2(num):
    if num % 3 ==0:
        print(f'the {num} is even')
    else:
        print(f'the {num} is odd')

In [25]:
even_odd()

11 is odd

In [ ]:
case-1 : range(stop) = range(5)
case-2 : range(start,stop) = range (5,10)
case-3 : range(start,stop,step) = range (1,20,2)

**case-3 : range(start,stop,step)**

- step : positive value or negative 

  - range (1,10,2)  : step=2 positive

  - range (1,10,-2) : step=2 negative 


- start=start 

- if we have positive step 
- last= stop-1 

- if we have negative step 
- last=stop+1

range(1,11,2)
start=1 step=2 last =11-1=10
1    3    5   7    9

In [ ]:
for i in range  (2,20,3):
    print(i,end='   ')

In [ ]:
for i in range  (2,20,-3):
    print(i,end='  ')

# start=2 step-3 last=stop+1 2+1=3
# 20====>3

In [60]:
range(3,18,3)
range(3,18,3)
range(3,18,3)
range(3,18,3)
range(-3,18,3)
range(3,-18,3)

range(3, -18, 3)

In [2]:
number = int(input("Enter a number: "))
print(f"Divisors of {number} are:")
for i in range(1, number + 1):
    if number % i == 0:
        print(i)

Enter a number:  75

Divisors of 75 are:
1
3
5
15
25
75

In [2]:
num = int(input("Enter the number :"))
print(f"Divisors of {num} are :")
for i in range(1,num + 1):
    if num % i == 0:
        print(i)

Enter the number : 41

Divisors of 41 are :
1
41

In [4]:
num=eval(input("which divisor user want:"))
for i in range (1,num+1):
    if num % i ==0:
        print(f"{i} is a divisor of {num}")

which divisor user want: 75

1 is a divisor of 75
3 is a divisor of 75
5 is a divisor of 75
15 is a divisor of 75
25 is a divisor of 75
75 is a divisor of 75

In [ ]:
# ask the user enter the number 
#   ask the user get the random number
#   if both are equal print won 
#   otherwise print lost 
#   give 3 chances to the user (for)

In [7]:
import random 
for i in range(1,4):
    random_num=random.randint(1,10)
    user_num=eval(input("enter the num between 1-10"))
    if random_num==user_num:
        print('won')
    else:
        print('lost')

enter the num between 1-10 10

lost

enter the num between 1-10 9

lost

enter the num between 1-10 5

won

**sumetion and counter**

In [12]:
sum=0
for i in range (1,11):
    print(i)
    sum=sum+i 
#print(sum)

1
2
3
4
5
6
7
8
9
10

In [4]:
sum=1
num=eval(input("which divisor user want:"))
for i in range (1,num+1):
    if num % i ==0:
        print(f"{i} is a divisor of {num}")

sum=1

which divisor user want: 75

1 is a divisor of 75
3 is a divisor of 75
5 is a divisor of 75
15 is a divisor of 75
25 is a divisor of 75
75 is a divisor of 75

In [ ]:
# wap ask the user get a random number between 1 to 100
# find even or odd 
# get the sum of evan and sum of odd 
# get 5 random number (for 5 time)
# sum_even=0
# sum_odd=0

In [3]:
sum_even=0
sum_odd=0
for i in range(5):
    num=eval(input('enter the number 1 to 100'))
    if num % 2 == 0:
        print('even')
        sum_even=num
        
    else:
        print(' odd')
        sum_odd=num
        
print('sum of evens are:',sum_even)
print('sum of odds are:', sum_odd)

enter the number 1 to 100 5

 odd

enter the number 1 to 100 8

 even

enter the number 1 to 100 3

 odd

enter the number 1 to 100 4

 even

enter the number 1 to 100 9

 odd
sum of evens are: 4
sum of odds are: 9

In [14]:
sum_evan=0
sum_odd=0
for i in range (4):
    num=eval(input('enter the num'))
    if num % 2 == 0:
        print('even')
        sum_even=num

    else:
        print('odd')
        sum_odd=num

print('sum of evens are:',sum_even)
print('sum of odds are:', sum_odd)

enter the num 30

even

enter the num 22

even

enter the num 90

even

enter the num 31

odd
sum of evens are: 90
sum of odds are: 31

In [17]:
count_even=0
count_odd=0
for i in range(5):
    num=eval(input('enter the num:'))
    if num % 4 == 0:
        print(f'the {num} is even')
        count_even+=1
    else:
        print(f'the {num} is odd')
        count_odd=count_odd+1



print(count_odd)
print(count_even)

enter the num: 12

the 12 is even

enter the num: 44

the 44 is even

enter the num: 43

the 43 is odd

enter the num: 56

the 56 is even

enter the num: 77

the 77 is odd
2
3

In [33]:
sum_even=0
sum_odd=0
for i in range(6):
    num=eval(input('enter the num:'))
if num % 3 == 0:
    print(f'the {num} is even')
    sum_even=num
else:
    print(f'the {num} is odd')
    sum_odd=num

print('sum of evens num:', sum_even)
print('sum of odds num:', sum_odd)

enter the num: 9
enter the num: 12
enter the num: 5
enter the num: 29
enter the num: 41
enter the num: 47

the 47 is odd
sum of evens num: 0
sum of odds num: 47

**counter program**

- summetion program when success it will add number

  - summ=0 then summ=summ+i or summ=summ+num bases on condition
 
- count=0 count=count+1

In [17]:
count_even=0
count_odd=0
for i in range (1,6):
    num=eval(input('enter the number 1 to 100:'))
if num % 2 == 0:
    print(f'the {num} is even num')
    count_even=count_even+1
else:
    print(f'the {num} is odd num')
    count_odd=count_odd+1


print(count_even)
print(count_odd)

enter the number 1 to 100: 11
enter the number 1 to 100: 33
enter the number 1 to 100: 97
enter the number 1 to 100: 17
enter the number 1 to 100: 34

the 34 is even num
1
0

In [26]:
count_even=0
count_odd=0
for i in range (6):
    num=eval(input('enter the num:'))
    if num % 2 == 0:
        print(f'the {num} is even num')
        count_even=count_even+1
    else:
        print(f'the {num} is odd num')
        count_odd=count_odd+1

print(count_even)
print(count_odd)

enter the num: 3

the 3 is odd num

enter the num: 5

the 5 is odd num

enter the num: 11

the 11 is odd num

enter the num: 133

the 133 is odd num

enter the num: 66

the 66 is even num

enter the num: 36

the 36 is even num
2
4

**in opeartor**

In [12]:
'python'

'python'

In [16]:
'p' in 'python'
'y' in 'python'
't' in 'python'
'h' in 'python'
'o' in 'python'
'n' in 'python'

True

In [20]:
for i in 'python':
    print(i,end='   ')

p   y   t   h   o   n

In [26]:
name=('python')
for i in name:
    print(i,end='   ')

p   y   t   h   o   n

In [ ]:
'english to the computer'
ASCII: american standard code imformation interchange

In [14]:
chr(112)

'p'

In [15]:
ord('b')

98

In [23]:
count_positive=0
count_negative=0
for i in range(6):
    num=eval(input(' enter number'))
    if num > 0:
        print(' the {num} is positive')
        count_positive=count_positive+1
    else:
        print('the {num} is negative')
        count_negative=count_negative+1
        


print(count_positive)
print(count_negative)

 enter number 100

 the {num} is positive

 enter number -100

the {num} is negative

 enter number 40

 the {num} is positive

 enter number -40

the {num} is negative

 enter number -55

the {num} is negative

 enter number 61

 the {num} is positive
3
3

In [33]:
for i in range(3):
    num1=eval(input('enter the num1:'))
    num2=eval(input('enter the num2:'))
    num3=eval(input('enter the num3:'))
    a=(num1+num2+num3)/3
    print(f"the avg of {a}")
    break

enter the num1: 70
enter the num2: 2
enter the num3: 2

the avg of 24.666666666666668

enter the num1: 4
enter the num2: 5
enter the num3: 90

the avg of 33.0

enter the num1: 6
enter the num2: 9
enter the num3: 2

the avg of 5.666666666666667

**list**

In [3]:
fruits = ["apple", "banana", "cherry"]
for f in fruits:
    print(f)

apple
banana
cherry

**string**

In [4]:
for ch in "Dipak":
    print(ch)

D
i
p
a
k