In [ ]:
# me changes krt aho

str('i like python')

'i like python'

In [3]:
# i like python    its comment

today im lerning python  python is very easy

**python esc+m**

**i like python language**

In [3]:
a=10
b=20
c=a+b
c
print(c)

# esc+y markdown to code mode 
# esc+m code to markdown mode

30

**variables**

# store the value 
# change the value

In [4]:
number=100 
 # 100 is a value stored in a variable called number

In [5]:
print(number)

100

In [6]:
number=200
number

200

In [5]:
number=759

In [6]:
number

759

In [9]:
number=500
print(number)

500

In [12]:
number1=400
number2=540
print(number1)
print(number2)

400
540

In [8]:
number1=450
number2=444
print(number1+number2)

894

In [13]:
number=1000
NUMBER=2000

In [14]:
number

1000

In [15]:
NUMBER

2000

In [18]:
number123=500
number123

500

In [20]:
number  # samll
NUMBER  #capital
number123  # numer as suffix

500

In [21]:
123number=200

SyntaxError: invalid decimal literal (714790092.py, line 1)

In [10]:
number@=400

TypeError: unsupported operand type(s) for @=: 'int' and 'int'

In [ ]:
number=100 # true
NUMBER=200 # true
number123=299  # true
123number=40 # false
number@=799  # false

In [11]:
number
NUMBER
number123

NameError: name 'NUMBER' is not defined

In [12]:
number one=199

SyntaxError: invalid syntax (4033670150.py, line 1)

In [26]:
number_one=199
number_one

199

In [ ]:
areaoftrangle=100 # true
area_of_trangle=100 # true
area of trangle = 100 # fall

In [ ]:
number=100 # t
NUMBER=200 # t
number123=299 # t
number one=100  # f
number_one=500  # t
_=600         # t
number@=300  # f
if=500     # f
else=500 # f

In [14]:
_=600

In [15]:
_

600

In [29]:
print(100)

100

In [30]:
print(10000)

10000

In [31]:
print()=100

SyntaxError: cannot assign to function call here. Maybe you meant '==' instead of '='? (2408402598.py, line 1)

variable are case sensitive

**number and NUMBER**

**variable can be small and capital laters**

**number as starting dose not allowas variable**

**.123number**

**variable dose not include spl charecters**

**number@**

**keywords or reserved words looks like green also not allowed as variable**

**ex. if else for True False elif def etc**

In [34]:
print (100)

100

In [35]:
num=100
print(num)

100

In [36]:
type(num)

int

In [ ]:
sum=200
sum # dont use 


# sum use case is different

In [37]:
sum([100,200])

300

**variable should be black color**

In [ ]:
sum = 300 # correct way 
sum = 400 # woring way

In [38]:
max([100,200])

200

In [40]:
max([200,500,1000])

1000

In [ ]:
print(100)  # print
type([100,200]) # type list 
sum([100,200]) # 300
max([100,20]) # 200
min([100,200]) # 100
len([100,200]) #2


# print
# sum
# max

In [41]:
len([100,200])

2

In [16]:
number=300

In [17]:
number

300

In [2]:
x = "global"
def outer():
    x = "enclosing"
    def inner():
        nonlocal x
        x = "changed"
    inner()
    print(x)  # "changed"
outer()
print(x)

changed
global

In [17]:
x = 10
del x
x = None
print(type(x))

<class 'NoneType'>

In [27]:
age: int = 25
def greet(name: str) -> str:
    return "Hello " + name
print(age)
print(greet('dipak'))

25
Hello dipak

In [33]:
def f(a=None):
    if a is None:
        a = []
    a.append(20)
    return a
f()

[20]