In [3]:
#step by step process

a=10  # correct
b=20  # correct
c=python # python wrong
d=a+b+c    # correc
print(d) # correct

NameError: name 'python' is not defined

In [4]:
# whenver error come 
# my code should catch automatically
# my continue the error if it sees error


# syntax error
# indentation error
# not defined error
# name error

In [5]:
eval(print('')

_IncompleteInputError: incomplete input (1119427691.py, line 1)

In [6]:
"python'

SyntaxError: unterminated string literal (detected at line 1) (255721797.py, line 1)

In [29]:
python

NameError: name 'python' is not defined

In [9]:
'a'+'b'

'ab'

In [11]:
'a'+100

TypeError: can only concatenate str (not "int") to str

In [13]:
python

NameError: name 'python' is not defined

In [29]:
20/3,4/20

(6.666666666666667, 0.2)

In [19]:
10/0

ZeroDivisionError: division by zero

In [21]:
import viratkohli

ModuleNotFoundError: No module named 'viratkohli'

In [30]:
import random
random.virat

AttributeError: module 'random' has no attribute 'virat'

In [25]:
if True:
print('hello')

IndentationError: expected an indented block after 'if' statement on line 1 (1785633973.py, line 2)

In [27]:
'a'/10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [29]:
int('10.5')

ValueError: invalid literal for int() with base 10: '10.5'

- syntax error

- indentation error

- type error

- name error

- zero division error

- module not found error

- attribute error

- value error

- now onwards we will write our code using try-except

- there are two blocks 

    - try block

    - except block

- write your code in try block

- if any error occures in try block(original code) that code will catch in except block

In [31]:
try:
    num = int(input("एक पूर्णांक टाका: "))
    print("तुमचं उत्तर:", num * 2)
except ValueError:
    print("कृपया फक्त पूर्णांक टाका.")

एक पूर्णांक टाका:  66

तुमचं उत्तर: 132

In [8]:
try:
    user_num=eval(input("enter the num"))
    print("user_num",user_num*2)
except:
    print(" enter the number")

enter the num 44

user_num 88

In [3]:
try:
    num=eval(input("enter the num:"))
    print("num",num*3)
    
except:
    print("num enter")

enter the num: 30

num 90

In [3]:
try:
    num=eval(input("enter the num:"))
    print("num",num/2)
except:
    print("enter num")

enter the num: 20

num 10.0

In [4]:
try:
    num=eval(input(" enter te num"))
    print("num",num*6)
except:
    print("number1")

 enter te num 50

num 300

In [6]:
try:
    a=35
    b=30
    c=20
    d=a+b+c
    print(f"The addition of {a},{b} and {c} is : {d}")
except:
    print("fail of adding")

The addition of 35,30 and 20 is : 85

In [14]:
#Write a program to take two numbers 
#from the user and divide them. Use try-except to handle division by zero

try:
    num1=int(input("enter the number1"))
    num2=int(input("enter the number2"))
    output = num1 / num2
    print("output:", output)
except ZeroDivisionError:
    print(" Error : cannot divide by zero")

enter the number1 22
enter the number2 20

output: 1.1

In [ ]:
#Write a program to take a number as input and convert it to an
#integer. If the user enters something else, handle the ValueError.


try:
    num=int(input('enter the num'))

In [40]:
a=10
b=20
c=a+b
print(f'the addition of {a} and {b} is:{c}')

the addition of 10 and 20 is:30

In [5]:
try:
    a=10
    b=20
    c=a+b
    print(f'the addition of {a} and {b} is :{c}')
except Exception as e:
    print(e)

the addition of 10 and 20 is :30

In [8]:
import random
try:
    a = random.randint(20,30)
    b = random.randint(30,40)
    c= random.randint(40,50)
    avg=(a+b+c)/3
    print(f" the avg of {a},{b} and {c} is : {avg}")
except:
    print(" avg fail ")

 the avg of 22,33 and 48 is : 34.333333333333336

In [1]:
try:
    a=40
    b=45
    c=a*b
    print(f"the mul of {a} and {b} is: {c}")
except Exception as e:
    print(e)

the mul of 40 and 45 is: 1800

In [28]:
try:
    a=321
    b=300
    c=a+b
    print(f"the add of {a} and {b} is: {c}")
except Exception as e:
    print(e)

the add of 321 and 300 is: 621

In [50]:
try:
    a=10  # correct
    print(a) # correct
    b=20     # correct
    print(b) # correct
    c=a/0    # wrong
    print(f'the addition of {a} and {b} is:{c}')
except Exception as e:
    print(e)
    print('ha ha ha error milgaya')

10
20
division by zero
ha ha ha error milgaya

In [46]:
a/0

ZeroDivisionError: division by zero

In [54]:
try:
    'a'+100
except Exception as e:
    print(e)

can only concatenate str (not "int") to str

In [52]:
try:
    import random
    random.random()
except Exception as e:
    print(e)

In [4]:

try:
    import random
    random.random()
except Exception as virat:
    print(virat)

In [27]:
try:
    import random
    random.random(0,1)
except Exception as virat:
    print(virat)

Random.random() takes no arguments (2 given)

In [7]:
try:
    if 100>0:
        print(False)
except Exception as correct:
    print(correct)
finally:
    print("dipak and rahul is best friends")

False
dipak and rahul is best friends

In [20]:

def evenodd():
    try:
        num=eval(input("ebter the number"))
        if num%2==0:
            return(f"The {num} is even")
        else:
            return(f" the {num} is odd")
    except Exception as e:
        print(e)


evenodd()

ebter the number 4

'The 4 is even'

In [22]:
try:
    def evenodd():
   
        num=evel(input("ebter the number"))
        if num%2==0:
            return(f"The {num} is even")
        else:
            return(f" the {num} is odd")
except Exception as e:
        print(e)


evenodd()

NameError: name 'evel' is not defined


- syntax error

- indentation error will not catch

In [8]:
try:
    print('success')
except Exception as e:
    print(e)
finally:
    print('logout')

success
logout

In [9]:
try:
    10/0
except Exception as e:
    print(e)
finally:
    print('logout')

division by zero
logout

In [10]:
try:
    # wap ask the user take the salary, percetage of tax calculate tax amount
    bill_amount=10000
    tip_percentage=10
    tip_amount=bill_amount*tip_percentage/100
    total_amount=bill_amount+tip_amount
    print(f"the total bill is:{total_amount}")
except Exception as e:
    print(e)

the total bill is:11000.0

In [18]:
try:
# wap ask the user take the salary, percetage of tax calculate tax amount
    salary_amount=100000
    tax_percentage=10
    tax_amount=salary_amount*tax_percentage/100
    total_amount=salary_amount+tax_percentage
    print(f"the total bill is:{total_amount}")
except Exception as e:
    print(e)                                         # worng

the total bill is:100010

In [73]:

########## VIKAS IM getting #############
try:
    10/2
except Exception as e:
    print(e)
finally:
    print("Log Out")

Log Out

In [19]:
try:
    10/2
except Exception  as e:
    print(e)
finally:
    print("log in")

log in

In [39]:
l=[list(range(1,10))]

In [40]:
l

[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [41]:
import keyword

In [42]:
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [43]:
print("10"+5)

TypeError: can only concatenate str (not "int") to str

In [44]:
print("10"-5)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [50]:
print

In [54]:
str1='dipak'+"55"

In [55]:
str1

'dipak55'

In [56]:
a=int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

In [59]:
f=open("none.text",'r')

FileNotFoundError: [Errno 2] No such file or directory: 'none.text'

In [62]:
r=50
r@

SyntaxError: invalid syntax (2263029630.py, line 2)

In [63]:
try:

   x = 1 / 0

except ZeroDivisionError:

   print("Cannot divide by zero")

Cannot divide by zero

In [65]:
try:

      lst = [1, 2, 3]

      print(lst[5])

except IndexError:

      print("Index out of range")

Index out of range

In [66]:
try:

      x = int("abc")

except ValueError:

      print("Invalid conversion")

Invalid conversion

In [67]:
try:

      x = 10

      print(x / 2)

except ZeroDivisionError:

      print("Division error")

else:

      print("No error")

5.0
No error

In [71]:
try:
    lst = [1, 2, 3]
    lst.append(4)
    print(lst[3])
except IndexError:
    print("Index error")

4

In [75]:
try:
    lst = [1, 2, 3]
    lst.remove(4)
except ValueError:
    print("Value not in list")
finally:
    print("Done")

Value not in list
Done

In [76]:
try:
      x = 5 + "10"

except TypeError:

      print("Type mismatch")

Type mismatch

In [9]:
try:

      x = int(input("Enter a number: "))  # User enters "123"

except ValueError:

      print("Invalid input")

else:

      print(x)

Enter a number:  234

234

In [79]:
try:

      x = 10 / 0

except Exception:

      print("An error occurred")

An error occurred

In [83]:
try:

      lst = [1, 2, 3]

      lst.pop(5)

except IndexError:

      print("Invalid pop")
finally:

      print("Completed")

Invalid pop
Completed

In [84]:
try:

      x = float("xyz")

except ValueError:

      print("Cannot convert to float")

else:

      print("Conversion successful")

Cannot convert to float

In [85]:
try:

      x = 10

      print(x[0])

except TypeError:

      print("Invalid operation")

finally:

      print("Finished")

Invalid operation
Finished

In [86]:
try:

      import nonexistent_module

except ModuleNotFoundError:

      print("Module not found")

Module not found

In [87]:
try:

      x = 5 / 0

except ZeroDivisionError as e:

      print(f"Error: {e}")

Error: division by zero

In [88]:
try:

      x = int("100")

except ValueError:

      print("Invalid")

else:

      print(x * 2)

finally:

      print("Done")

200
Done

In [89]:
try:

      lst = [1, 2, 3]

      print(lst[10])

except IndexError as e:

      print(f"Error: {e}")

Error: list index out of range

In [91]:
try:
    x = 1 / 2

except ZeroDivisionError:

      print("Zero division")

else:

      print("Success")

finally:

      print("Cleanup")

Success
Cleanup

In [92]:
try:

      x = eval("1 + ")

except SyntaxError:

      print("Invalid syntax")

Invalid syntax

In [93]:
try:

      lst = [1, 2, 3]

      lst.insert(5, 4)

except IndexError:

      print("Invalid index")

else:

      print(lst)

[1, 2, 3, 4]

In [94]:
try:

      x = 5 + "5"

except TypeError as e:

      print(f"Error: {e}")

finally:

      print("Done")

Error: unsupported operand type(s) for +: 'int' and 'str'
Done

In [95]:
try:

      lst = [1, 2, 3]

      lst.pop(3)

except IndexError:

      print("Invalid pop")

Invalid pop

In [96]:
try:

      x = int("12.34")

except ValueError:

      print("Not an integer")

Not an integer

In [97]:
try:

      lst = [1, 2, 3]

      lst[3] = 4

except IndexError:

      print("Out of bounds")

else:

      print("Assignment successful")

Out of bounds

In [98]:
try:

      x = float("123")

except ValueError:

      print("Invalid float")

else:

      print(x)

123.0

In [99]:
try:

      lst = [1, 2, 3]

      lst.remove(5)

except ValueError:

      print("Item not found")

finally:

      print("Finished")

Item not found
Finished

In [100]:
try:

      x = 10 / 0

except (ZeroDivisionError, TypeError):

      print("Caught an error")

Caught an error

In [101]:
try:

      x = int(input("Enter a number: "))  # User enters "abc"

except ValueError:

      print("Not a number")

Enter a number:  abc

Not a number

In [3]:
try:

      lst = [1, 2, 3]

      print(lst[2])

except IndexError:

      print("Index error")

else:

      print("No error")

3
No error

In [104]:
try:

      x = 100 / 0

except ZeroDivisionError:

      print("Cannot divide")

except Exception:

      print("Other error")

finally:

      print("Done")

Cannot divide
Done

In [1]:
try:

      x = float("inf")

except ValueError:

      print("Invalid float")

else:

      print(x)

inf

**seasion13_list**

In [1]:
l1=[10,20,30,40,50]
l2=[60,70,80,90]

In [68]:
l1

[10, 20, 30, 40, 50]

In [69]:
l1+l2

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [70]:
l2*2

[60, 70, 80, 90, 60, 70, 80, 90]

In [71]:
l1*2

[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

**slice**

In [4]:
l=[10,20,30,40,1,2,3,4,'a','p','p','l','e',True,False]

In [5]:
l[3:11:2]

[40, 2, 4, 'p']

In [73]:
len(l)

15

In [74]:
l[2:12:2]

[30, 1, 3, 'a', 'p']

In [75]:
l[2:12:-2]  # not give output

[]

In [76]:
l[2:-12:2]

[30]

In [77]:
l[-2:-12:-2]

[True, 'l', 'p', 4, 2]

In [78]:
l[2:-12:-2]

[]

In [88]:
l1.clear()

In [89]:
l1

[]

In [90]:
l2=[10,20,30]

In [91]:
l2.copy()

[10, 20, 30]

In [92]:
l1=l2.copy()

In [93]:
l1

[10, 20, 30]

In [94]:
l1.append(30)

In [97]:
l1

[10, 20, 30, 30]

In [100]:
l1.count(50)

1

In [103]:
l1.index(30)

2

In [114]:
list=[10,20,30,40,10,20,30,30]
l2=list.index(20)
list.index(20,l2+1)

5

In [121]:
l3=[10,20,30,40,50,60,40,]                                      
n=l3.index(40)
l3.index(40,n+1)

6

**pop**

In [8]:
l=['apple','banana','cheryy','cheryy','a','b',10,20,30]

In [9]:
l

['apple', 'banana', 'cheryy', 'cheryy', 'a', 'b', 10, 20, 30]

In [10]:
l=['apple','banana','cheryy','a','b',10,20,30]
l.pop(2)
l.pop()

30

In [11]:
l

['apple', 'banana', 'a', 'b', 10, 20]

In [12]:
l.pop()

20

In [134]:
l

['apple', 'banana', 'a', 'b', 10]

In [135]:
l.pop()

10

In [136]:
l

['apple', 'banana', 'a', 'b']

In [2]:
l=['apple','banana','cherry','apple','cherry','a','b',10,20,30]
i1=l.index('cherry')
i2=l.index('cherry',i1+1)
l.pop(i2)

'cherry'

In [39]:
l

['apple', 'banana', 'cherry', 'apple', 'a', 'b', 10, 20, 30]

In [1]:
l=['apple','banana','cherry','apple','cherry','a','b',10,20,30]
i1=l.index('apple')
i2=l.index('apple',i1+1)
l.pop(i2)

'apple'

In [8]:
a=["dipak","vaibhav","vishal","pradip","vaibhav","mahesh","a","b","c",20,30,40]
i1=a.index("vaibhav")
i2=a.index("vaibhav",i1+1)
a.pop(i1)                                 # find the second one

'vaibhav'

In [3]:
a=["dipak","vaibhav","vishal","pradip","mahesh","a","b","c",20,30,40]

try:
    i2 = a.index("dipak",i1+1)
    a.pop(i2)
except:
    print("value error")

value error

In [45]:
l

['apple', 'banana', 'cherry', 'cherry', 'a', 'b', 10, 20, 30]

In [46]:
s='apple'
s.count('z')  #0
s.replace('z','z') # apple
#s.index('z') # error
s.find('z') # -1

-1

In [51]:
n='orange'
n.count('z')
n.replace('z','z')
#n.index('z')
n.find('z')

-1

**append-extend-concat**

In [53]:
l=[10,20,30,]

In [54]:
l.append(['apple'])

In [55]:
l

[10, 20, 30, ['apple']]

In [78]:
l1=[10,20,30,40]
l2=[50,60,70,80]
l3=['apple','orange','cherry']
l4=['dipak','shubham',20,40,50]

In [79]:
l.extend(l1)

In [83]:
l1+l2+l3

[10, 20, 30, 40, 50, 60, 70, 80, 'apple', 'orange', 'cherry']

In [82]:
l4.concat('dipak',40)

AttributeError: 'list' object has no attribute 'concat'

In [5]:
try:
    x = 10 / 0
except:
    print("You cannot divide by zero")

You cannot divide by zero

In [6]:
try: 
    x= int(input("enter the number"))
    print("num", x)
except:
    print("invalid syntax")

enter the number 10

num 10

In [10]:
try:
    x=eval(input("enter the num:"))
    print("num:",x-25)
except:
    print("value error")

enter the num: 50

num: 25

In [10]:
try:
    a=eval(input("enter the num1:"))
    b=eval(input("enter the num2:"))
    c=eval(input("enter the num3:"))
    avg=(a+b+c)/3
    print(f"The avg of {a} , {b} and {c} is : {avg}")
except:
    print("invalid")

enter the num1: 99
enter the num2: 81
enter the num3: 69

The avg of 99 , 81 and 69 is : 83.0

## Statistics

In [1]:
import statistics

In [2]:
dir(statistics)

['Counter',
 'Decimal',
 'Fraction',
 'LinearRegression',
 'NormalDist',
 'StatisticsError',
 '_SQRT2',
 '__all__',
 '__annotations__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_coerce',
 '_convert',
 '_decimal_sqrt_of_frac',
 '_exact_ratio',
 '_fail_neg',
 '_float_sqrt_of_frac',
 '_integer_sqrt_of_frac_rto',
 '_isfinite',
 '_kernel_invcdfs',
 '_mean_stdev',
 '_newton_raphson',
 '_normal_dist_inv_cdf',
 '_quartic_invcdf',
 '_quartic_invcdf_estimate',
 '_random',
 '_rank',
 '_sqrt_bit_width',
 '_sqrtprod',
 '_ss',
 '_sum',
 '_triweight_invcdf',
 '_triweight_invcdf_estimate',
 'acos',
 'asin',
 'atan',
 'bisect_left',
 'bisect_right',
 'correlation',
 'cos',
 'cosh',
 'count',
 'covariance',
 'defaultdict',
 'erf',
 'exp',
 'fabs',
 'fmean',
 'fsum',
 'geometric_mean',
 'groupby',
 'harmonic_mean',
 'hypot',
 'isfinite',
 'isinf',
 'itemgetter',
 'kde',
 'kde_random',
 'linear_regression',
 'log',
 'math',
 'mean',
 'median',
 'median_grouped',
 'median_high',
 'median_low',
 'mode',
 'multimode',
 'namedtuple',
 'numbers',
 'pi',
 'pstdev',
 'pvariance',
 'quantiles',
 'random',
 'reduce',
 'repeat',
 'sin',
 'sqrt',
 'stdev',
 'sumprod',
 'sys',
 'tan',
 'tau',
 'variance']

In [3]:
l=[1,2,3,4,5,6,7,8,9,10]
statistics.mean(l)

5.5

In [4]:
l=[1,2,3,4,5,6,7,8,9,10]
statistics.median(l)

5.5

In [9]:
l=[1,2,3,4,5,6,7,8,9,8,10,9,9]
statistics.mode(l)

9